.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #fff;
    border-radius: 1rem;
    transition: .25s;
}

.acordeon.open,
.acordeon:hover {
    background-color: #55569E;
    border-color: #55569E;
}


.acordeon .trigger {
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    border: none;
}

.acordeon .trigger h2 {
    margin: 0;
    font-size: 1.5rem;
}

.acordeon .trigger:hover {
    cursor: pointer;
} 

.acordeon .trigger::after {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../icons/down.svg');
    transition: .25s;
}

.acordeon.open .trigger::after {
    transform: rotate(180deg);
}

.acordeon .content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    padding: 0 1rem;
}

.acordeon.open .content {
    display: inline-block;
    height: 100%;
    opacity: 1;
}

.content li::after {
    content: '';
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background-size: contain;
    margin-left: .5rem;
    vertical-align: middle;
}

.content .pt_br::after {
    background-image: url('../icons/br.svg');
    background-repeat: no-repeat;
}

.content .us::after {
    background-image: url('../icons/us.svg');
    background-repeat: no-repeat;
}

.content .pt_br.title, .us.title {
    font-weight: 700;
}

.languages hr {
    width: 101%;
    height: 1px;  
    background-color: #fff;
    margin: 1rem auto; 
    margin-left: -25px;
    margin-top: -10px;
}

.language-link {
    font-size: 0.9em; 
}
