
.educations {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
}

.educations .personal, 
.educations .tools {
    margin-bottom: .5rem; 
}

.educations .personal .title, 
.educations .tools .title {
    font-size: 1.5rem; 
    font-weight: 700;
    margin: 0;
    margin-bottom: 1rem; 
    margin-left: 20px; 
}

.educations .personal .title {
    margin-top: 1rem;
}


.educations li p.date::before{
    content: '';
    display: inline-block;
    width: 1.05rem;
    height: 1.05rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
    background-image: url('../icons/date.svg');
    filter: brightness(0) invert(1);
}

.educations li p.study::before{
    content: '';
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
    background-image: url('../icons/study.svg');
    filter: brightness(0) invert(1);
}

.educations .personal hr {
    width: 101%;
    height: 1px;  
    background-color: #fff;
    margin: 1rem auto; 
    margin-left: -25px;
    margin-top: -10px;
}

.educations .tools hr {
    width: 101%;
    height: 1px;  
    background-color: #fff;
    margin: 1rem auto; 
    margin-left: -25px;
    margin-top: 25px;
}

.educations .personal ul li,
.educations .tools ul li{
    margin-top: 2rem;
}

