
.skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
}

.skills .tools, .skills .personal {
    margin-bottom: 2rem;
}

.skills .tools .title,
.skills .personal .title {
    font-size: 1.5rem; 
    font-weight: 700;
    margin: 0;
    margin-bottom: 1rem; 
    margin-left: 20px;
}

.skills .tools .title {
    margin-top: 1rem; 
}



  
#profile\.skills\.hardSkills li {
    align-items: center;
    margin-top: .5rem;

  }
  
  
.skill-icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 0.5rem;
    background-size: contain;
    vertical-align: middle;
  }


.skills .personal ul,
.skills .tools ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-left: 15px;
}

.skills .personal .title {
    margin-left: 15px;
}

.skills .personal ul li,
.skills .tools ul li {
    margin-left: 2rem;
    padding: .5rem;
}

.skills .tools ul li{
    margin-top: -1rem;
}



